<h2 class="screen-align">Plantravel</h2>
<div id="template-i5x3" class="row">
    <div id="template-ifbe" class="cell">
        <label id="template-iq0b" class="label">Name</label>
        <input id="template-iz7t" class="input form-control" />
    </div>
    <div id="template-iuf2" class="cell">
        <label id="template-idwi" class="label">Email</label>
        <input id="template-iu0w" class="input form-control" />
    </div>
    <div id="template-ikxg" class="cell">
        <label id="template-iu85" class="label">Age</label>
        <input id="template-ijywy" class="input form-control" />
    </div>
</div>
<div id="template-i9mjg" class="row">
    <div id="template-iq4is" class="cell">
        <label id="template-itefn" class="label">Phone</label>
        <input id="template-iopgi" class="input form-control" />
        <button id="template-i9ysb" class="button btn btn-primary">Create</button>
    </div>
    <div id="template-ieze5" class="cell"></div>
    <div id="template-idbiq" class="cell"></div>
</div>